{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="col-xm-10 col-xm-offset-1">
{% for item in cart_items %}

    <div class="card" style="width: 20rem; max-width: 500px; min-width: 20rem;">
      <!--<img class="card-img-top" src="{{ item.build.image.url }}" alt="Card image cap">-->
      <div class="" style="background-image: url( {{ item.build.image.url }} ); height: 10rem; background-repeat: no-repeat; background-size: cover;">
          
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.build.title }}</h5>
        <p class="card-text">
            {{ item.build.cpu }},   
            {{ item.build.gpu }},
            {{ item.build.ram }}<br>
            {{ item.build.description }}
        </p>
        <form class="form-inline" method="post" action="{% url 'adjust-cart' item.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                <div class="input-group">
                    <!--<div class="input-group-addon"></div>-->
                    <input name="quantity" type="number" min="0" max="5" class="form-control mx-1" value="{{item.quantity}}" style="width:4rem;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-edit mx-1"></i>Amend</button>
        </form>
      </div>
    </div>
    </div>
{% endfor %}
    </div>


<div class="card">
  <div class="card-body">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <!--{# <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i class="fas fa-pound-sign"></i>Checkout</a> #}-->
    <a href="#" class="btn btn-success" role="button"><i class="fas fa-pound-sign mx-1"></i>Checkout</a>
  </div>
</div>

{% endblock %}