{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block link %}
<style>
  #main-container {
    justify-content: flex-start;
  }
</style>
{% endblock %}

{% block content %}

<div class="cart-flex-wrapper">
  {% for item in cart_items %}

    <div class="card m-2">

      <!--CONFIGURATION IMAGE-->
      <img class="card-img-top" src="{{ item.build.image.url }}" alt="Card image cap">

      <!--CARD-HEADER-->
      <div class="card-header">
        <h4 class="card-title text-center">{{ item.build.title|title|slice:":50"  }}</h4>
      </div>
      
      <!--CONTENT-->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          CPU: {{ item.build.cpu }},  &nbsp;GPU: {{ item.build.gpu }},  &nbsp;RAM: {{ item.build.ram }}, 
           &nbsp;PSU: {{ item.build.psu }},  &nbsp;Mainboard: {{ item.build.mainboard }}
        </li>
      </ul>

      <!--CONFIGURATION TITLE-->
      <div class="card-body d-flex flex-column justify-content-end align-items-end">
        <form method="post" action="{% url 'adjust-cart' item.pk %}">
            {% csrf_token %}
            <div class="add-to-cart-box">
              <input name="quantity" type="number" min="0" max="5" class="form-control mx-1 cart-input" value="{{item.quantity}}" style="width:4rem;">
              <button type="submit" class="btn btn-primary"><i class="fas fa-edit mx-1"></i>Amend</button>
            </div>
        </form>
      </div>

    </div>
    
    {% empty %}

      <div class="card m-2" style="width: 100%;">
        
        <!--CARD-HEADER-->
        <div class="card-header">
          <h2 class="card-title text-center">Your cart is empty</h2>
        </div>

        <!--CONTENT-->
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            Please add more items to your cart
          </li>
        </ul>
        
      </div>
      
  {% endfor %}
</div>

<div class="card mx-2 mb-4 mt-2" >
  <div class="card-body font-weight-bold">
    <p>Total: <i class="fas fa-pound-sign"></i> {{ total }}</p>
    <div class="checkout-panel">
      <a href="{% url 'checkout' %}" class="btn btn-checkout" role="button"><span>Checkout</span></a>
    </div>
  </div>
</div>

{% endblock %}