{% extends 'base/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="testtttt">
          <div class="col-lg-10 mx-auto">
          <!--<div class="">-->
            <h1 class="text-uppercase text-center">
              <strong>Get the system of your dreams with no hassle!</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
          <!--<div class="">-->
            <p class="text-faded mb-3">
              Building your own PC and need ideas on where to get started? Explore our builds, 
              which cover systems for all use-cases and budgets, or create your own and share it with our community.
              </p>
            <a class="btn btn-primary" href="#about">Find Out More</a>
          </div>
</div>
{% endblock content %}