{% load crispy_forms_tags %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'post-detail' object.id %}">
        {% csrf_token %}
        <fieldset class="from-group">
            {{ form|crispy }}
        </fieldset>
        <fieldset class="from-group d-flex">
            <button class="btn btn-outline-info btn-comment  ml-auto" type="submit"><span>Post comment</span></button>
        </fieldset>
      </form>
    </div>
  </div>
{% else %}
    <p><a href="{% url 'user-login' %}">Login</a> to comment</p>
{% endif %}
{% if comments.count > 0 %}
  <p>{{ comments.count }} Comment{{ comments|pluralize }}</p>
{% endif %}
{% for comment in comments %}
  <div class="media mb-4">
    <a class="" href="{% url 'user-view' comment.author.username %}">
    <img class="d-flex mr-3 rounded-circle" src="{{ comment.author.profile.image.url }}" height="50" width="50" alt="">
    </a>
    <div class="media-body">
      <h5 class="mt-0">{{ comment.author.username }}</h5>
      <small class="text-muted">Posted on {{ comment.time|date:"d F Y" }} at {{ comment.time|date:"P" }}</small>
       <p>{{ comment.comment }}</p>
      
    </div>
  </div>
  {% empty %}
  <p class="alert alert-info text-center">No comments</p>
{% endfor %}