{% load crispy_forms_tags %}

<div class="card filter-panel">
  
  <!--CARD-HEADER-->
  <div class="card-header">
    <h3 class="card-title text-center">Filter</h3>
  </div>
  
  <!--CARD-BODY-->
  <div class="card-body">
      <form method="get">
        {{ filter.form|crispy }}
        <div class="filter-btns d-flex flex-column ">
          <a href="{% url 'blog-home' %}" class="btn btn-danger btn-reset"><span>Reset</span></a>
          <button class="btn btn-success btn-filter" type="submit"><span>Filter</span></button>
        </div>
      </form>
  </div>
  
</div>
  