body {
  // background: #fafafa;
  background: map-get($color, mustard);
  color: #333333;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

// Navigation
.bg-orange {
  background-color: map-get($color, maroon);
}

.site-header .navbar-nav .nav-link {
//   color: #cbd5db;
  color: map-get($color, mustard);
}

.site-header .navbar-nav .nav-link:hover {
  // color: map-get($color, beige);
  color: map-get($color, red);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.page-footer {
    background-color: map-get($color, maroon);
    color: #ffffff;
    a {
        color: map-get($color, mustard);
        &:hover {
            color: map-get($color, beige);
            text-decoration: none; 
        }
    }
}

#main-container {
    // min-height: calc(100% - 168px);
    // min-height: -webkit-calc(100% - 168px);
    // min-height: -moz-calc(100% - 168px);
    min-height: calc(100% - 168px);
    min-height: 60vw;

}



.btn-pag {
  background-color: map-get($color, maroon);
  border-color: map-get($color, maroon);
  color: map-get($color, mustard);
  font-weight: bold;
  &:hover {
    background-color: black;
    color: map-get($color, mustard);
  }
}

// ##################################  sendemail  ##################################################
.card-contact {
    margin: 1.25rem auto;
    margin-bottom: 2rem;
    width: 90%;
}



.btn {
    border-radius: 4px;
    background-color: map-get($color, maroon);
    border: none;
    // color: #FFFFFF;
    color: map-get($color, mustard);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
}

.btn-reset, .btn-submit, .btn-filter {
    width: 10rem;

    text-align: center;
    line-height: 15px;
    font-size: 1.0rem;
    padding: 10px;
}


.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-cart {
  font-size: 0.8rem;
  
}

.btn-reset span:after {
    content: '\00d7';
    /* glyph for X cross*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;

}

.btn-submit span:after {
    content: '\00bb';
    /* glyph for two side ways arrows*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}
.btn-filter span:after {
    content: '\00bb';
    /* glyph for two side ways arrows*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.btn:hover {
    background-color: map-get($color, black2);
    color: map-get($color, red);
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


.md-textarea {
    height: 380px;
}


footer a {
  &:hover {
    color: map-get($color, red) !important;
  }
}