html {
  height: 100%;
  margin-top: 2.2rem;
}

body {

  // background: linear-gradient(to left top, #ff9e07, #ffa504, #ffab03, #ffb202, #ffb803, #ffb803, #ffb803, #ffb803, #ffb202, #ffab03, #ffa504, #ff9e07);
  background-color: wheat;
  color: #333333;
  margin-top: 2.2rem;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

// // Navigation
// .navbar.navbar-expand-md.navbar-dark.bg-orange.fixed-top {
//     font-size: 1rem;
//     height: 2.5rem;

// }


.bg-orange {
  background-color: map-get($color, maroon);
}

.site-header .navbar-nav .nav-link {
//   color: #cbd5db;
  color: map-get($color, mustard);
}

.site-header .navbar-nav .nav-link:hover {
  // color: map-get($color, beige);
  color: map-get($color, red);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.58);
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  // margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.page-footer {
    background-color: map-get($color, maroon);
    color: #ffffff;
    a {
        color: map-get($color, mustard);
        &:hover {
            color: map-get($color, beige);
            text-decoration: none; 
        }
    }
}

#main-container-blog {
    // min-height: calc(100% - 168px);
    // min-height: -webkit-calc(100% - 168px);
    // min-height: -moz-calc(100% - 168px);
    min-height: calc(100% - 70.4px);
    // min-height: 60vw;

}

#main-container {
  min-height: calc(100% - 70.4px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container-flex-start {
  justify-content: flex-start !important;

}


.btn-pag {
  background-color: map-get($color, maroon);
  border-color: map-get($color, maroon);
  color: map-get($color, mustard);
  font-weight: bold;
  &:hover {
    background-color: black;
    color: map-get($color, mustard);
  }
}

// ##################################  sendemail  ##################################################
.card-contact {
    margin: 1.25rem auto;
    margin-bottom: 2rem;
    width: 90%;
}

.btn.btn-sm.btn-success.new_post {
  margin-left: 0px;
}

.btn {
    border-radius: 0px;
    background-color: map-get($color, maroon);
    border: none;
    // color: #FFFFFF;
    color: map-get($color, mustard);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
}

.btn-reset, .btn-submit, .btn-filter, .btn-comment, .btn-checkout {
    // width: 10rem;

    text-align: center;
    line-height: 15px;
    font-size: 1.0rem;
    padding: 10px;
}


.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-cart {
  // font-size: 0.8rem;
  line-height: 1rem;
  height: 29px;
}

.btn-reset span:after {
    content: '\00d7';
    /* glyph for X cross*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.btn-checkout span:after {
    content: '\00a3';
    /* glyph for X cross*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.btn-submit span:after, .btn-filter span:after, .btn-comment span:after {
    content: '\00bb';
    /* glyph for two side ways arrows*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}


.btn:hover {
    background-color: map-get($color, black2);
    color: map-get($color, red);
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


.md-textarea {
    height: 380px;
}


footer a {
  &:hover {
    color: map-get($color, red) !important;
  }
}


// ################################## search template ########################

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  
  .select-search {
    border:  0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .bar-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border:  0px;
    height: 38px;
    width: 40%;
  }
  
  .btn-search {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border:  0px;
    height: 38px;
    margin-top: 0px !important;
  }
  
  // media query for small narrow screens eg iphonex,xs, galaxy s5
  @include mQ("maxW", 412px) {
          flex-direction: column;
          .bar-search {
              width: 100%;
              border-top-left-radius: 0.25rem;
              border-bottom-left-radius: 0.25rem;
              border-top-right-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
              margin-bottom: 1rem;
          }
          .select-search {
              border-top-left-radius: 0.25rem;
              border-bottom-left-radius: 0.25rem;
              border-top-right-radius: 0.25rem;
              border-bottom-right-radius: 0.25rem;
          }
          .btn-search {
              border-top-right-radius: .25rem;
              border-bottom-right-radius: .25rem;
              border-top-left-radius: .25rem;
              border-bottom-left-radius: .25rem;
              border:  0px;
            }
    }
  }
  
  
  
  // ################### DETAIL POST ########################

input.form-control.mr-1 {
      height: 30px;
      margin-left: 0px;
      border-radius: 0px;
}

.cart-input {
      height: 36px;
      margin-left: 0px;
      border-radius: 0px;
}

.add-to-cart-box {
        padding: 0 6px;
        height: 2rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }
    

.card-header-user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-user-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    
    // .add-to-cart-box {
    //     padding: 0 6px;
    //     height: 2rem;
    //     display: flex;
    //     flex-flow: row nowrap;
    //     align-items: baseline;
    // }
    
    // media query for small narrow screens eg iphonex,xs, galaxy s5
    @include mQ("maxW", 450px) {
      flex-flow: column;
      align-items: stretch;
      justify-content: space-between;
      
      .add-to-cart-box {
        align-items: baseline;
      }
      
      .btn {
        height: 30px !important;
      }
      
      .btn-cart {
      font-size: 1rem;
      width: -webkit-fill-available;
      margin-right: 0px;
    }
      
    input.form-control.mr-1 {
    margin-left: 0px;
    }
    
  }
}


// ###############################  SEARCH_RESULTS/BLOG ############################

.card.mb-3 {
  border: 1px solid rgba(0,0,0,.125);
}

.card {

      // background-color: map-get($color, maroon);
      border: none;
      border-radius: 0px;
      .card-header {
        a {
          &:hover {
            text-decoration: none;
            font-weight: bold;
            color: map-get($color, red);
          }
        }
      }
      
      .card-title{
          margin-bottom: 0px;

      }
  
      .instance-image-button {
        background:none!important;
        color:#007bff;
        border:none; 
        padding:0!important;
        font: inherit;
        cursor: pointer;
        font: caption;
        font-weight: bold;
      }
  
}


// ################# login ########################

.login-panel, .logout-panel, 
.pass-reset-confirm-panel, .pass-reset-complete-panel, 
.pass-reset-done, .post-new-panel {
    // media query for small narrow screens eg iphonex,xs, galaxy s5
    @include mQ("minW", 900px) {
      width: 600px;
    }
    @include mQ("maxW", 899px) {
      min-width: 70%;
    }
}

// ################### cart ######################

.checkout-panel {
    display: flex;
    
    a {
      width: 10rem;
    }
    justify-content: center;
    @include mQ("maxW", 767px) {
      flex-direction: column;
      align-items: center;
    }
}


.cart-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
    .card {
      flex: 1 0 33%;
      // margin: 5px;
      // height: 500px;
    }
  
  @include mQ("maxW", 379px) {
  .card {
      flex: 1 0 50%;
    }
    }
      
  @include mQ("w", 380px, 760px) {
  .card {
    flex: 1 0 50%;
    // max-width: 18rem;
    }
  }
     
  @include mQ("minW", 1200px) {
  .card {
    flex: 0 0 29.33%;
    }
  }

}

