$bgHex : #ff7200, #eeff00, #48ff00, #00ff72,#00ffff;
$color: ( 
    orange: #ff6600, 
    yellow: #eeff00, 
    green: #48ff00, 
    cyan: #00ffff,
    cyan2: #489e81,
    red: #ff0000,
    maroon: #800000,
    red2: #790712,
    blue: #0000ff,
    black: #000000,
    black2: #191919,
    black3: #1f1800,
    tomato: #E55934,
    white: #ffffff,
    mustard: #ffc107,
    arsentic: #3D405B,
    peach: #F2CC8F,
    beige: #F4F1DE,
    yankee-blue: #19283D
);