{% extends 'base/base.html' %}

{% block title %}Detail View{% endblock %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata d-flex justify-content-between">
          <small class="text-muted">Posted on {{ object.date_posted|date:"d F Y" }}</small>
          {% if object.author == user %}
            <div>by <a class="mr-2" href="{% url 'user-profile' %}">{{ object.author }}</a></div>
            <div>
              <a href="{% url 'post-update' object.id %}" class="btn btn-sm btn-secondary mt-1 mb-1">Update</a>
              <a href="{% url 'post-delete' object.id %}" class="btn btn-sm btn-danger mt-1 mb-1">Delete</a>
            </div>
          {% else %}
            <div>by <a class="mr-2" href="{% url 'user-view' object.author.username %}">{{ object.author }}</a></div>
          {% endif %}
        </div>
        <h2>{{ object.title }}</h2>
        <p class="article-content">

          <p>views: {{ object.views }}</p>
          {% if object.image != "defaults/default_rig_pic.png"  %}
            <img src="{{ object.image.url }}"></img>
          {% endif %}
          <p>CPU: {{ object.cpu }}</p>
          <p>GPU: {{ object.gpu }}</p>
          <p>RAM: {{ object.ram }}</p>
          <p>Motherboard: {{ object.mainboard }}</p>
          <p>PSU: {{ object.psu }}</p>
          <p>Primary storage: {{ object.primary_storage }}</p>
          {% if object.secondary_storage %}<p>Secondary storage: {{ object.secondary_storage }}</p>{% endif %}
          <p>Description: {{ object.description }}</p>
        </p>
      </div>
      
      <form method="POST" action="{% url 'add-to-cart' object.id %}">
        {% csrf_token%}
        <fieldset class="from-group d-flex justify-content-end">
          <input name="quantity" class="form-control mx-1" type="number" min="1" max="5" value="1" style="width: 4rem;">
          <button class="btn btn-sm btn-success" type="submit">Add to cart</button>
        </fieldset>
      </form>
      
    </article>
  
  {% include "base/comments.html" %}


{% endblock content %}