{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="content-section">
        
        <form method="post">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <fieldset class="from-group  d-flex justify-content-center">
                <button class="btn btn-danger" type="submit">Reset Password</button>
            </fieldset>
        </form>

    </div>
{% endblock content %}