{% extends 'base/base.html' %}

{% block link %}
<style>
  #main-container {
    align-items: center;
  }
</style>
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="card pass-reset-done-panel">    
        
        <!--CARD-HEADER-->
        <div class="card-header">
            <h3 class="card-title text-center">Password Reset</h3>
        </div> 
         
         <!--CARD-BODY-->
        <div class="card-body">
            <h6 class="card-title text-center">
                We've emailed you instructions for resetting your password. You should receive the email shortly.
            </h6>
            <div class="border-topics pt-3">
                <small class="text-muted d-flex justify-content-end">
                    Go back to <span><a href="{% url 'blog-home' %}" class="ml-2"> Builds</a>
                </small>
            </div>
        </div>
        
    </div>    
{% endblock content %}
