{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block link %}
<style>
  #main-container {
    align-items: center;
  }
</style>
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <!--<div class="content-section">-->
        
    <!--    <form method="post">-->
    <!--        {% csrf_token %}-->
    <!--        <fieldset class="from-group">-->
    <!--            <p class="text-muted">Please enter your email address below to receive instructions on resetting your password.</p>-->
    <!--            <legend class="border-bottom mb-4">Reset Your Password</legend>-->
    <!--            {{ form|crispy }}-->
    <!--        </fieldset>-->
    <!--        <fieldset class="from-group  d-flex justify-content-end">-->
    <!--            <button class="btn btn-danger" type="submit">Request Reset Password</button>-->
    <!--        </fieldset>-->
    <!--    </form>-->

    <!--</div>-->
    
<div class="card pass-reset-panel">
  
    <!--CARD-HEADER-->
    <div class="card-header">
      <h3 class="card-title text-center">Reset Your Password</h3>
    </div>      
    
    <!--CARD-BODY-->
    <div class="card-body">
        <h6 class="card-title text-center">Please enter your email address below to receive instructions on resetting your password.</h6>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="border-topics">
                <small class="text-muted d-flex justify-content-end">
                    <button class="btn btn-danger" type="submit">Request Reset Password</button>
                </small>
            </div>
            
        </form>
  </div>
  
</div>    
        
    
    
    
{% endblock content %}