{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block link %}
<style>
  #main-container {
    align-items: center;
  }
</style>
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="card pass-reset-confirm-panel">
        
        <!--CARD-HEADER-->
        <div class="card-header">
          <h3 class="card-title text-center">Reset Password</h3>
        </div> 
        
        <!--CARD-BODY-->
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                    {{ form|crispy }}

                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger" type="submit">Reset Password</button>
                </div>
                
            </form>
        </div>
        
    </div>
{% endblock content %}