{% extends 'base/base.html' %}

{% block link %}
<style>
  #main-container {
    align-items: center;
  }
</style>
{% endblock %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

<div class="card pass-reset-complete-panel">    
    <!--CARD-HEADER-->
    <div class="card-header">
        <h3 class="card-title text-center">Password Reset</h3>
    </div> 
    
    <div class="card-body">
        <h5 class="card-title text-center">Your password has been successfully changed!</h5>
        <div class="border-topics pt-3">
            <small class="text-muted d-flex justify-content-end">
                <a href="{% url 'user-login' %}" class="ml-2">Log in</a>
            </small>
        </div>
    </div>
</div>    

{% endblock content %}
