{% extends 'base/base.html' %}

{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.profile.image.url }}">
      <div class="media-body">

        <h3>Name: {{ object.first_name }} {{ object.last_name }}</h3>
        <h3>Username: {{ object.username }}</h3>
        <h3>Posts:</h3>
        {% for post in object.post_set.all %}
           <p>
           {{ forloop.counter}}) <a href="{% url 'post-detail' post.id %}">{{ post }}</a>
           </p>
        {% endfor %}

    </article>



{% endblock content %}