{% extends 'base/base.html' %}

{% block link %}
<style>
  #main-container {
    justify-content: flex-start;
  }
</style>
{% endblock %}

{% block content %}
<div class="card">
        
    <!--CARD-HEADER-->
    <div class="card-header">
      <h1 class="card-title text-center">{{ object.username }}</h1>
      <div class="user-info d-flex justify-content-between">
        <img class="rounded-circle article-img" src="{{ object.profile.image.url }}">
        <div class="card-header-user-info">
          <small class="text-muted">email: {{ object.email }}</small>
          <small class="text-muted">name: {{ object.first_name|title }}{{ object.last_name|center:"15"|title }}</small>
        </div>
      </div>
    </div>
      
    <!--CONTENT TITLE-->
    <div class="card-body">
        <h4 class="card-title text-left">{{ object.username }}'s Posts</h4>
        <p class="card-text"></p>
    </div>
      
    <!--CONTENT-->
    <ul class="list-group list-group-flush">
        {% for post in object.post_set.all %}
            <li class="list-group-item"><a href="{% url 'post-detail' post.id %}">{{ forloop.counter }}) &nbsp;&nbsp;{{ post }}</a></li>
        {% empty %}
            <li class="list-group-item">{{ object.username }} hasn't posted anything yet.</li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}