@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  height: 100%;
  margin-top: 2.2rem; }

body {
  background: linear-gradient(to left top, #ff9e07, #ffa504, #ffab03, #ffb202, #ffb803, #ffb803, #ffb803, #ffb803, #ffb202, #ffab03, #ffa504, #ff9e07);
  color: #333333;
  margin-top: 2.2rem;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

ul {
  margin: 0; }

.bg-orange {
  background-color: #800000; }

.site-header .navbar-nav .nav-link {
  color: #ffc107; }

.site-header .navbar-nav .nav-link:hover {
  color: #ff0000; }

.site-header .navbar-nav .nav-link.active {
  font-weight: 500; }

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.58);
  box-shadow: 3px 3px 7px -1px rgba(0, 0, 0, 0.58); }

.article-title {
  color: #444444; }

a.article-title:hover {
  color: #428bca;
  text-decoration: none; }

.article-content {
  white-space: pre-line; }

.article-img {
  height: 65px;
  width: 65px; }

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3; }

.article-metadata a:hover {
  color: #333;
  text-decoration: none; }

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle; }

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px; }

.account-heading {
  font-size: 2.5rem; }

.page-footer {
  background-color: #800000;
  color: #ffffff; }
  .page-footer a {
    color: #ffc107; }
    .page-footer a:hover {
      color: #F4F1DE;
      text-decoration: none; }

#main-container-blog {
  min-height: calc(100% - 70.4px); }

#main-container {
  min-height: calc(100% - 70.4px);
  display: flex;
  justify-content: center;
  flex-direction: column; }

.main-container-flex-start {
  justify-content: flex-start !important; }

.btn-pag {
  background-color: #800000;
  border-color: #800000;
  color: #ffc107;
  font-weight: bold; }
  .btn-pag:hover {
    background-color: black;
    color: #ffc107; }

.card-contact {
  margin: 1.25rem auto;
  margin-bottom: 2rem;
  width: 90%; }

.btn {
  border-radius: 4px;
  background-color: #800000;
  border: none;
  color: #ffc107;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 5px;
  font-family: 'Roboto Mono', monospace; }

.btn-reset, .btn-submit, .btn-filter, .btn-comment {
  width: 10rem;
  text-align: center;
  line-height: 15px;
  font-size: 1.0rem;
  padding: 10px; }

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.btn-cart {
  line-height: 1rem;
  height: 29px; }

.btn-reset span:after {
  content: '\00d7';
  /* glyph for X cross*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px; }

.btn-submit span:after, .btn-filter span:after, .btn-comment span:after {
  content: '\00bb';
  /* glyph for two side ways arrows*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px; }

.btn:hover {
  background-color: #191919;
  color: #ff0000; }

.btn:hover span {
  padding-right: 25px; }

.btn:hover span:after {
  opacity: 1;
  right: 0; }

.md-textarea {
  height: 380px; }

footer a:hover {
  color: #ff0000 !important; }

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem; }
  .search-container .select-search {
    border: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .search-container .bar-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0px;
    height: 38px;
    width: 40%; }
  .search-container .btn-search {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px;
    height: 38px;
    margin-top: 0px !important; }
  @media screen and (max-width: 412px) {
    .search-container {
      flex-direction: column; }
      .search-container .bar-search {
        width: 100%;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        margin-bottom: 1rem; }
      .search-container .select-search {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem; }
      .search-container .btn-search {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border: 0px; } }

.card-header-user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.card-user-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: end; }
  .card-user-options input.form-control.mr-1 {
    height: 30px;
    margin-left: 0px; }
  .card-user-options .add-to-cart-box {
    padding: 0 6px;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
  @media screen and (max-width: 450px) {
    .card-user-options {
      flex-flow: column;
      align-items: stretch;
      justify-content: space-between; }
      .card-user-options .add-to-cart-box {
        align-items: baseline; }
      .card-user-options .btn {
        height: 30px !important; }
      .card-user-options .btn-cart {
        font-size: 1rem;
        width: -webkit-fill-available;
        margin-right: 0px; }
      .card-user-options input.form-control.mr-1 {
        margin-left: 0px; } }

.card .card-header a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #ff0000; }
.card .card-title {
  margin-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
